/* CSS PARTE ACCESS PAGE*/

.navlinks.nav {
  display: flex;
  margin-left: 0px;
}
.navlink {
  text-decoration: none;
}

.links {
  font-size: 30px;
  color: white;
  margin-right: 20px;
  margin-top: 20px;
  font-family: "K2D";
  font-weight: 700;
}
.links:hover {
  font-size: 32px;
}
.Description {
  margin-top: 90px;
  margin-left: 120px;
  color: #ffffff;
  font-size: 29px;
  font-family: "K2D";
  font-weight: 700;
  font-style: normal;
  background: transparent;
  backdrop-filter: blur(4px);
}

.emaillogin {
  border: none;
  background: #eaeaea;
  width: 300px;
}

.Logoutbt {
  height: 45px;
  width: 90px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 40px;
  background-color: white;
  color: #0089dc;
  font-size: 20px;
  font-family: "K2D";
  font-weight: 700;
  border: none;
  border: 1px solid white;
}
.Logoutbt:hover {
  background-color: #0089dc;
  color: white;
}

.logoutpage {
  background-color: #0077b3;
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 583px;
  font-size: 15px;
  font-family: "K2D";
  font-weight: 700;
  border: none;
  border-radius: 10px;
  border: 1px solid white;
}

.footerAccesspage {
  border: 20px solid #002a44;
  background-color: #51bce5;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .navlinks.nav {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .navlink {
    text-decoration: none;
  }

  .links {
    font-size: 20px;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    font-family: "K2D";
    font-weight: 700;
  }
  .links:hover {
    font-size: 25px;
  }
  .Logoutbt {
    display: none;
  }

  .buttunaccess1 {
    height: 50px;
    width: 70px;
    margin-left: 5px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #0089dc;
  }
  .textaccess {
    margin-top: 0;
    font-size: 10px;
    font-family: "K2D";
    font-weight: 700;
    color: #012c42;
  }
  .Logoutbt {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 0px;
    border-radius: 40px;
    background-color: #012c42;
    color: white;
    font-size: 5px;
    font-family: "K2D";
    font-weight: 700;
  }
  .Title {
    font-family: "K2D";
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    margin-top: 100px;
    margin-left: 40px;
    color: #0089dc;
  }
  .Description {
    color: #ffffff;
    font-size: 25px;
    font-family: "K2D";
    font-weight: 700;
    font-style: normal;
    background: transparent;
    backdrop-filter: blur(4px);
  }
  .emaillogin {
    border: none;
    background: #eaeaea;
    width: 100px;
  }
  .logoutpage {
    background-color: #012c42;
    color: white;
    width: 40px;
    text-align: center;
    margin-left: 245px;
    font-size: 10px;
    margin-top: 10px;
    font-size: 10px;
    font-family: "K2D";
    font-weight: 700;
  }
}
