/* CSS PARTE ACCESS PAGE*/

.navlinks.nav {
  margin-top: 70px;
  margin-left: 100px;
}
.Description {
  margin-top: 90px;
  margin-left: 120px;
  color: #ffffff;
  font-size: 29px;
  font-family: "K2D";
  font-weight: 700;
  font-style: normal;
  background: transparent;
  backdrop-filter: blur(4px);
}

.buttunaccess1 {
  height: 55px;
  width: 115px;
  margin-left: 90px;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: none;
}
.textaccess {
  margin-top: 0;
  font-size: 16px;
  font-family: "K2D";
  font-weight: 700;
  color: #012c42;
}

.emaillogin {
  border: none;
  background: #eaeaea;
  width: 300px;
}
.Logoutbt {
  height: 70px;
  width: 70px;
  margin-top: 5px;
  margin-left: 35px;
  border-radius: 40px;
  background-color: #012c42;
  color: white;
  font-size: 15px;
  font-family: "K2D";
  font-weight: 700;
  border: none;
}

.logoutpage {
  background-color: #012c42;
  color: white;
  width: 70px;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 440px;
  font-size: 15px;
  font-family: "K2D";
  font-weight: 700;
}

.footerAccesspage {
  border: 20px solid #002a44;
  background-color: #51bce5;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  .navlinks {
    margin-top: 30px;
    margin-left: 0px;
  }

  .buttunaccess1 {
    height: 50px;
    width: 70px;
    margin-left: 5px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #0089dc;
  }
  .textaccess {
    margin-top: 0;
    font-size: 10px;
    font-family: "K2D";
    font-weight: 700;
    color: #012c42;
  }
  .Logoutbt {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 0px;
    border-radius: 40px;
    background-color: #012c42;
    color: white;
    font-size: 5px;
    font-family: "K2D";
    font-weight: 700;
  }
  .emaillogin {
    border: none;
    background: #eaeaea;
    width: 100px;
  }
  .logoutpage {
    background-color: #012c42;
    color: white;
    width: 40px;
    text-align: center;
    margin-left: 245px;
    font-size: 10px;
    margin-top: 10px;
    font-size: 10px;
    font-family: "K2D";
    font-weight: 700;
  }
}
