/* CSS PARTE LOGIN */

.background {
  margin: 0;
  padding: 0;
  background-image: url("./assets/background4.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.logincontainer {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: auto;
  margin-top: 50px;
  margin-right: 180px;
  width: 460px;
  background-color: #00aeb5;
  padding-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 5px;
}

.text {
  color: rgb(15, 15, 122);
  font-size: 40px;
  font-weight: 500;
}
.line {
  width: 61px;
  height: 4px;
  background: rgb(15, 15, 122);
  border-radius: 9px;
}
.inputs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 380px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}
.icon {
  font-size: 20px;
  padding: 20px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 40px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  color: #fff;
  background: rgb(15, 15, 122);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}

.login-button,
.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  width: 180px;
  height: 50px;
  color: #fff;
  background: rgb(15, 15, 122);
  border-radius: 50px;
  border: none;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

/* CSS PARTE HOME PAGE 1 */

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 990px;
  background-image: url(./assets/Banner.jpg);
  background-size: cover;
  filter: blur(1px);
  opacity: 1;
  display: flex;
}

.upperpart {
  position: relative;
  z-index: 1;
  display: flex;
}

.Logo {
  position: relative;
  width: 400px;
  margin-top: 55px;
  margin-left: 200px;
}
.butt1 {
  margin-top: 80px;
  margin-left: 250px;
  width: 130px;
  border-radius: 15px;
  color: #0089dc;
  background-color: white;
  padding: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.butt2 {
  margin-left: 20px;
  width: 130px;
  border-radius: 15px;
  color: white;
  background-color: #0089dc;
  padding: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.Title {
  font-family: "K2D";
  font-weight: 400;
  font-size: 90px;
  font-style: normal;
  margin-top: 170px;
  margin-left: 220px;
  color: #ffffff;
}

.Description {
  margin-top: 90px;
  margin-left: 220px;
  color: #ffffff;
  font-size: 25px;
  font-family: "K2D";
  font-weight: 700;

  font-style: normal;
}

.centerpart {
  display: flex;
  background-image: url(./assets/Banner2.jpg);
  width: 100%;
  height: 1300px;
}

.Folder {
  width: 280px;
  margin-top: 200px;
  margin-left: 158px;
  filter: hue-rotate(149deg) brightness(0.9);
}

.Calendar {
  width: 280px;
  margin-top: 100px;
  margin-left: 500px;
  margin-bottom: 60px;
  filter: hue-rotate(320deg);
}

.textarchivio {
  margin-top: 260px;
  margin-left: 220px;
}

.textcalendar {
  margin-left: 150px;
  margin-top: 150px;
}
.colortext {
  color: #00aeb5;
}

.medicbanner {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #00aeb5;
}
.texmedic {
  color: white;
  margin-left: 158px;
  margin-top: 80px;
}
